.item{
    width: 280px;
}

.item img{
    width: 280px;
}
.item p{
    margin: 6px 0px;
    margin-right: 10px;
}
.item-prices{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item-prices-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.like-button{
    margin-right: 0 !important;
}
.icon-button {
    margin-top: 10px;
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
}
  
.icon-button:hover {
    transform: scale(1.2); /* Slight scaling effect on hover */
}
  
.filled {
    color: red; /* Filled heart color when liked */
}
  
.outlined {
    color: grey; /* Outlined heart color when not liked */
}

@media(max-width:1280px){
    .item{
        width: 220px;
        font-size: 14px;
    }
    .item img{
        width: 220px;
    }
    .item-price-old{
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .item{
        width: 170px;
        font-size: 13px;
    }
    .item img{
        width: 170px;
    }
    .item-price-old{
        font-size: 13px;
    }
}
@media(max-width:800px){
    .item{
        width: 120px;
        font-size: 12px;
    }
    .item img{
        width: 120px;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item{
        width: 160px;
    }
    .item img{
        width: 160px;
    }
}